%%%-----------------------------------------------------------------------------
%%% Module  : ${1:module_name}
%%% Author  : ${2:${author}}
%%% Created : ${date}
%%% Description : ${3: }
%%%
%%%-----------------------------------------------------------------------------
-module (${4:}).
-behaviour(supervisor).

%%------------------------------------------------------------------------------
%% Include files
%%------------------------------------------------------------------------------
${5:}

%%------------------------------------------------------------------------------
%% External exports
%%------------------------------------------------------------------------------
-export ([
    start_link/0,
    init/1
]).

%%------------------------------------------------------------------------------
%% Records
%%------------------------------------------------------------------------------

%%==============================================================================
%% External functions
%%==============================================================================
%%------------------------------------------------------------------------------
%% Function: start_link/0
%% Description: Starts the supervisor
%%------------------------------------------------------------------------------
start_link() ->
    supervisor:start_link({local, ?MODULE}, ?MODULE, []).


%%------------------------------------------------------------------------------
%% Function: init/1
%% Returns: {ok, {SupFlags, [ChildSpec]}} |
%%          ignore                        |
%%          {error, Reason}
%% child_spec() = {Id, StartFunc, Restart, Shutdown, Type, Modules}
%%   Id = term()
%%   StartFunc = {M, F, A}
%%     M = F = atom()
%%     A = [term()]
%%   Restart = permanent | transient | temporary
%%   Shutdown = brutal_kill | int()>0 | infinity
%%   Type = worker | supervisor
%%   Modules = [Module] | dynamic
%%     Module = atom()
%%------------------------------------------------------------------------------
init(_Args) ->
    Child = {
        'Id',
        {'Module', start_link, []},
        permanent, 2000, worker,
        ['Module']
    },

    {ok, {{one_for_one, 10, 10},
        [
            Child
        ]
    }}.

%%==============================================================================
%% Internal functions
%%==============================================================================
