%%%-----------------------------------------------------------------------------
%%% Module  : ${1:module_name}
%%% Author  : ${2:${author}}
%%% Created : ${date}
%%% Description : ${3: }
%%%
%%%-----------------------------------------------------------------------------
-module (${4:}).

%%------------------------------------------------------------------------------
%% Include files
%%------------------------------------------------------------------------------
${5:}

%%==============================================================================
%% External exports
%%==============================================================================


%%==============================================================================
%% External functions
%%==============================================================================


%%==============================================================================
%% Internal functions
%%==============================================================================
